body{
font:12px Tahoma, Arial;
\*background-color:rgb(114,106,44);*\
\*background-color:rgb(102,121,75);*\
margin:0;
}
#container{
width: 1150px;
margin:0 auto;
border: 2px solid white;
border-radius:2px;
box-shadow:0 0 10px rgba(0,0,0,0.5);
background-color:white;
padding:25px;
margin-top:10px;
}
#left{
float:right;
margin:0;
margin-top:70px;
width:220px;
padding:5px;
border: 1px solid #CCCCCC;
}
#left p{
	padding-bottom:2px;
}
a:visited, a:hover, a{
text-decoration:none;
	color:blue; 
}
.clear{
	clear:both;
}
#header{
	padding:5px;
	color:white;
}
h1{
font-family:georgia;
font-weight:bold;
font-size:25px;
text-align:left;
}
h2,h3{

font-family:tahoma;
}
 .navi{
padding:8px;
padding-left:none;
padding-right:none;
//background-color: rgb(216,187,150);
background: rgb(240,183,161); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 50%, rgba(191,110,78,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,183,161,1)), color-stop(50%,rgba(140,51,16,1)), color-stop(100%,rgba(191,110,78,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(191,110,78,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(191,110,78,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(191,110,78,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(191,110,78,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */

border-radius:2px;
color:white;
}
.navi .current{
	border:3px solid white;
}
.navi p a{
	color:white;
}
.navi p{
	padding:0;
	margin:0;
}
 .navi a{
padding: 0px;
border: 0;
border-radius: 0 px;
background-color: rgb(119, 31, 193);
text-decoration: none;
color: white;
}
#center{
float:left;
width:820px;
padding:14px;
border:2px solid white;
border-radius: 2px;
}
.news{
border:1px solid;
border-radius: 3px;
border-color: rgb(207,180,24);
padding:14px;
background-color: rgb(244, 234, 170);
}
.speech{
	border:1px solid rgb(29,104,255);
	border-radius:4px;
	padding:10px;
	padding-bottom:15px;
	background-color:rgb(215,237,249);
	margin-bottom:10px;
}
.speech p{
	font-size:0.8em;
}
.speech h3{
	//font-weight:lighter;
	font-size: 0.9em;
}
.news a{
font-size: 17px;
padding-left: 19px;
text-decoration:underline;
}
img{
float: left;
margin: 8px 8px 8px 0;
border: 1px solid white;
border-radius:6px;
}
 .navi a{
color:black;
padding:;
}
#left h3{
	font-weight: lighter;
	margin-top:40px;
}
#left img{
	padding:0;
	margin:0;
}
.news h3, h2{
	font-size:0.98em;
}
#pgnavi{
	border:1px solid;
border-radius: 3px;
border-color: rgb(207,180,24);
padding:14px;
background-color: rgb(144, 234, 170);
}
#pgnavi p{
	overflow: auto;
	padding-bottom: 8px;
}
.square{
	margin-right:10px;
	margin-top:20px;
	border:none;
	padding:5px;
	width: 250px;
	height:300px;
	float:left;
	font-size: 13px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	//background-color: rgb(244, 234, 190);
	background: rgb(165,201,86); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(165,201,86,1) 0%, rgba(205,235,142,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,201,86,1)), color-stop(100%,rgba(205,235,142,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(165,201,86,1) 0%,rgba(205,235,142,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(165,201,86,1) 0%,rgba(205,235,142,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(165,201,86,1) 0%,rgba(205,235,142,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(165,201,86,1) 0%,rgba(205,235,142,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5c956', endColorstr='#cdeb8e',GradientType=0 ); /* IE6-9 */

}
.square2x{
	margin-right:15px;
	margin-top:20px;
	border:none;
	padding:5px;
	width: 850px;
	height:300px;
	float:left;
	font-size: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	background-color: rgb(244, 234, 140);
}
}
.square p, .square2x p{
	text-align: center;
}
.square a, .square2x a{
	padding-left: 10px;
}
.date{
	font-size: 10px;
}
#left .navi{
	//background-color: rgb(130,130,170);
	background: rgb(147,60,144); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(147,60,144,1) 0%, rgba(163,37,133,1) 50%, rgba(147,0,125,1) 51%, rgba(104,24,71,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(147,60,144,1)), color-stop(50%,rgba(163,37,133,1)), color-stop(51%,rgba(147,0,125,1)), color-stop(100%,rgba(104,24,71,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(147,60,144,1) 0%,rgba(163,37,133,1) 50%,rgba(147,0,125,1) 51%,rgba(104,24,71,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(147,60,144,1) 0%,rgba(163,37,133,1) 50%,rgba(147,0,125,1) 51%,rgba(104,24,71,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(147,60,144,1) 0%,rgba(163,37,133,1) 50%,rgba(147,0,125,1) 51%,rgba(104,24,71,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(147,60,144,1) 0%,rgba(163,37,133,1) 50%,rgba(147,0,125,1) 51%,rgba(104,24,71,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#933c90', endColorstr='#681847',GradientType=0 ); /* IE6-9 */

}
#center .square .navi{
	color: black;
	padding:10px;
	margin:0;
	margin:-5px;
	padding-right: 5px;
	border-radius: 10px;
	border-right: 1px solid;
	border-bottom: 1px solid;
	background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

	
}
#center .square hr{
	padding-right: 0;
	padding-left: 0;
}
#center .square .navi p a{
	background-color: transparent;
	color: black;
	text-decoration: underline;
	font-weight: bolder;
}
#center .square .navi p a:hover{
	color: red;
}
